[package]
name = "ndm-lib"
version = "0.5.1"
edition = "2021"
publish = false

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
async-trait = { workspace = true }
tokio = { workspace = true }
krpc = { workspace = true }
ndn-lib = { path = "../ndn-lib" }
